<h1>New Restaurant</h1>

<%= form_for @restaurant do |f| %>
  <%= f.label :name, "Name:" %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :street_address, "Address:" %>
  <%= f.text_field :street_address %>
  <br>
 <%= f.label :city, "City:" %>
  <%= f.text_field :city %>
  <br>
  <%= f.label :state, "State:" %>
  <%= f.text_field :state %>
  <br>
    <%= f.label :postal_code, "Zip:" %>
  <%= f.text_field :postal_code %>
  <br>
  <%= f.submit %>
<% end %>





